input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=phone] {
	margin: 0;
	padding: .2em 0;
	line-height: 1.5;
	border: 0;
	border-bottom: 1px solid $primary-color;

	font-size: 1.3rem;
	font-weight: 300;

	display: block;
	width: 100%;

	transition: box-shadow .1s;

	&.error {
		box-shadow: inset 0px -3px 0px 0px transparentize(red, .6);
		border-color: transparent;
	}
}

label {
	display: block;
}

.error-message {
	color: red;
	font-size: .7em;
	margin: .2em 0;
}